/* Main CSS sheet for www.mytinybalcony.com */

/* Fonts */
@font-face {
	font-family: perfograma;
	src: url(/fonts/Perfograma.otf);
}

/* Text Styles */
h1 {
	font-family: perfograma;
	font-weight: 900;
	color: #aaa; 
	font-size: 20px;
}

h2 {
	font-family: perfograma;
	font-weight: 500;
	color: #ccc; 
	font-size: 15px;
}

p {  
	font-family: perfograma;
	color: #555; 
	font-size: 15px;
}

/* Links */
a:link {text-decoration:none; color: #666;}
a:visited {text-decoration:none; color: #666;}
a:hover {text-decoration:none; color: #16a085;}
a:active {text-decoration:none; color: #666;}